; 请妥善保管您的配置
registry=https://jingshanyun-npm.pkg.coding.net/cloud-platform/npm/
always-auth=true
//jingshanyun-npm.pkg.coding.net/cloud-platform/npm/:username=npm-1644807380798
//jingshanyun-npm.pkg.coding.net/cloud-platform/npm/:_password=ZGYxZmNkNGU1ODcwMTgyN2EyMmUxNjhiYjYwYzg5MmU1ZDZkYjM0MQ==
//jingshanyun-npm.pkg.coding.net/cloud-platform/npm/:email=alertz@jingshanyun.com